<div class="info_part__concerts-container">
    <a href="#/concerts/{{activeOrder.concertId}}" class="info_part__concerts-container__button-mobile">
      Вернуться к концерту
    </a>
    <h1 class="info_part__concerts-container__h1">Бронирование вашего места</h1>
    <div class="info_part__concerts-container__order-info-container">
        <h2 class="info_part__concerts-container__order-info-container__h2">{{activeOrder.concertTitle}}</h2>
        <h2 class="info_part__concerts-container__order-info-container__h2">{{activeOrder.concertDate}}</h2>
        <h2 class="info_part__concerts-container__order-info-container__h2">{{activeOrder.concertPlace}}</h2>
        <h2 class="info_part__concerts-container__order-info-container__h2">Тип места: {{activeOrder.seatType}}</h2>
        <h2 class="info_part__concerts-container__order-info-container__h2">Цена: {{activeOrder.price}}zł</h2>
        <h2 class="info_part__concerts-container__order-info-container__h2 h2__totalPrice"></h2>
        {{#if (isDanceFloor activeOrder)}}
          <form class="info_part__concerts-container__order-info-container__form">
          <label for="quantity">Количество:</label>
          <input id="quantity" type="text">
          {{else}}
          <h2 class="info_part__concerts-container__order-info-container__h2">ID вашего столика: {{activeOrder.seatId}}</h2>
          <form class="info_part__concerts-container__order-info-container__form">
          <label for="quantity">Количество:</label>
          <input value="1" disabled id="quantity" type="text">
        {{/if}}
        <br>
        <label for="userName">Ваше имя:</label>
        <input id="userName" type="text">
        <br>
        <label for="userTel">Телефон:</label>
        <input id="userTel" type="text">
        <br>
        <label for="userEmail">Email:</label>
        <input id="userEmail" type="text">
        <button type="submit" class="info_part__concerts-container__order-info-container__form__button-confirm">
          Забронировать
        </button>
      </form>
    </div>
</div>
